
.post-list-container {
	height:100%;
	width:100%;
	padding-top:70px;
}
.post-list {
	min-height:100%;
	min-width:100%;
	padding: 15%;
}
.post-list-entry{
	padding: 1%;
    background-color: rgba(212,228,185,1);
    border-radius: 4px;
    margin-bottom:7px;
    box-shadow: 10px 5px 10px #888888;

}
.post-list-meta {
	color: rgba(67,103,128,1);
	padding:0;
}
.post-list-link {
	color : rgba(35,138,137,1);
}
.post-custom-container {
	padding:70px;
}

.post-footer-small-content {
	position:fixed;
	bottom:0%;
	left:0%;
	right:0%;
}

/*
 * WARNING : Donot forget to define image source;
 *
 */

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fluid-height {
    height:60%;
    padding-top:70px;
    position:relative;
}

.image-bg-fixed-height {
    height: 450px;
}

.img-center {
	margin: 0 auto;
}

.post-header-container{
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom:1%;
}
.post-header-shadow{
	position:absolute;
	top:35%;
	padding:5%;
	width:60%;
	background-color: rgba(0,0,0,0.6);
	border-radius: 4px;
}
.post-header-h1{
	font-weight: 900;
    font-size: 3.5em;
    color: aqua;
}
.post-header-subtext{
	color:rgba(236, 180, 104,1);
}
.post-content {
	padding:70px;
	min-height:100%;
	position:absolute;
	left:0%;
	right:0%;
	
}