.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top-buffer { 
	margin-top:20px; 
}

.top-buffer-abs-l { 
	margin-top:50px; 
}

.top-buffer-rel {
	margin-top:10%;
}