---
layout: blog-feed
title: Don Dennis | Blog
excerpt: Personal Blog
permalink: /blog/
custom_css: style.css
---
<!-- Header -->
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    
    <div class="row text-center paper-title">
      Sophisticated Sounding Title
    </div>
  
    <span class="hr-line"></span>

    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-4 text-center paper-subtitle">
        Delhi, India
      </div>
      <div class="col-xs-4 text-center paper-subtitle">
        {{ site.time | date: '%B %d, %Y' }}
      </div>
      <div class="col-xs-2"></div>
    </div>

    <span class="hr-line"></span>
  </div>
  <div class="col-xs-1"></div>
</div>

<div class="row paper-warning">
  <div class="col-xs-1"><i class="fa fa-warning paper-warning-symbol"></i></div>
  <div class="col-xs-10">
    Note that this space is currently being populated and the content is not final. Check back soon!
  </div>
  <div class="col-xs-1 text-center paper-warning-closebtn" onclick="this.parentElement.style.display='none';">&times;</div>
</div>

<!-- Body -->
<div class="row paper-body">
  
 
  <!-- Side news -->
  <div class="col-xs-4">
    <div class="paper-intro-title">
      Don starts a new blog
    </div>
    <div class="float-left">
      <img src="/img/blog-profile-pic.png" alt="Its Me" class="paper-profile-pic">  
    </div>
    <div class="paper-intro-text">
    <p><b>Delhi:</b> This is an experiment I'm doing with my blog. I am attempting to create a good looking design from ground up using simple CSS and JS, in stark contrast to what I used to do previously, developing by borrowing code from established websites. Though that made development really quick, I never understood completely what the code really did and that gaping hole of understanding remained.
    </p>
    <p>
    This is my attempt towards acknowledging the complexities of developing a well designed, responsive and backward compatible website and the baby steps I am take towards understanding and appreciating it.
    </p>
    </div>
  </div>

 
  <!-- Main articles -->
  <div class="col-xs-8">
    {% for post in site.posts limit:10 %}
    <div class="news-article">
      <div class="news-article-title">
        <a href="{{ post.url }}" class="a-rm-deco">{{post.title}}</a>
      </div>
      <div class="news-article-body">
        {% if post.article-img %}
        <div class="news-article-img">{{post.article-img}}</div>
        {% endif %}
        <p><span class="news-article-text">{{post.excerpt}}</span></p>
        {% if post.categories %}
          <span class="news-article-categories"><i>categories:
            {% for cat in post.categories %}
             &nbsp;{{cat}},
            {% endfor %}
            </i></span>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

</div>
