<div class="footer row scheme-footer">
    <div class="col-xs-6 text-left">
      This is left part of footer.
    </div>
    <div class="col-xs-6 text-right">
      This is right aligned part.
    </div>
  </div>
</div>
<!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- jQuery is required for bootstrap.js to work -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/css/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>