<!DOCTYPE html>
<html>

  {% include head.html %}
 	<style>
		.{{ page.key }}-post-img-source{
			background: url( {% if page.header-img %} 
								'{{ page.header-img }}'
							{% else %} 
							'{{ site.default-header-img }}' 
							{% endif %}) no-repeat center center scroll;
		}

		{% if page.custom-css %} {{ page.custom-css }} {% endif %}
	</style>

  <body>
    {% include navbar_blog.html %}
	

	<article class="image-bg-fluid-height {{ page.key }}-post-img-source post-header-container" itemscope itemtype="http://schema.org/BlogPosting">
	    <header class="post-header-shadow">
		    <h1 class="post-header-h1">{{ page.title }}</h1>
		    <p class="post-header-subtext"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
		</header>
	</article>



	<article itemscope itemtype="http://schema.org/BlogPosting">
		<div itemprop="articleBody">
		   	{{ content }}
		</div>  
	</article>
	
    {% include footer.html %}
  </body>
</html>

